<{include file="db:project_manager_header.html"}>
<form action=util.php method=post>
<table class=outer>
    <tr>
        <th width='100%' colspan=2 class=head align=left>
            <b>Adding Comment To "<{$add_comment_task_title}>"</b>
        </th>
    </tr>
    <tr valign=top>
        <td width='38%' align=right class=even>
            <b>Comment: </b>
        </td>
        <td width='62%' class=odd>
            <textarea cols=60 rows=10 name=comment></textarea>
        </td>
    </tr>
    <tr>
        <th class=head align=center colspan=2>
            <input class=button type=reset> <input class=button type=submit value="Add Comment">
        </th>
    </tr>
</table>
<input type=hidden name=util_op value=addcommentaction><input type=hidden name=task_id value='<{$add_comment_task_id}>'>
</form>
